@import '../../scss/variables';

.catalogTodos {
  position: relative;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  width: 700px;
  background-color: $blue;
  color: $white;

  &__flex {
    display: flex;
    

    &__avatar {
      margin-right: 20px;
      border-radius: 5px;
      width: 150px;
      height: 150px;
    }
  }

  &__deleteTodo {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background-color: $blue;
    cursor: pointer;
    font-size: 50px;
    line-height: 50px;
    color: $white;

    &:hover {
      transition: all .3s;
      color: red;
    }
  }
}

.info {
  @include columnBetween();
  height: 150px;
  margin-bottom: 50px;
  
  &__name {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;

    &__item {
      @include  infoItemCatalog();
    }
  }

  &__role {
    @include infoThePerson();
    margin-bottom: 5px;

    &__item {
      @include  infoItemCatalog();
    }
  }
 
  &__email {
    @include infoThePerson();

    &__item {
      @include  infoItemCatalog();
    }
  }

  &__date {
    font-size: 15px;
    line-height: 15px;
    font-style: italic;
    color: $yellow;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }
}