@import '../../scss/variables';

.footer {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #35424a;

  .footer__flex {
    @include flexCenter();
    height: 100px;

    &__calc {
      font-size: 30px;
      color: #f2dede;
    }
  }
}
