@import '../../scss/variables';


.todo {
  @include flexBetween();
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: $grey;
  padding: 15px;

  &:hover {
    transition: all .2s;
    box-shadow: 3px 3px 7px  $grey;
  }

  &__block {
    display: flex;
    align-items: center;
  }

  &__checkBox {
    margin-right: 15px;
  }

  &__name,
  &__nameDone {
    font-size: 22px;
    color: $white;
  }
  &__nameDone {
    text-decoration: line-through;
  }

  &__deleteBtn {
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 5px;
    background-color: $white;
    cursor: pointer;
  }
}