@import '../../scss/variables';


.todo {
  @include flexBetween();
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 15px;
  background-color: $grey;

  &:hover {
    transition: all .2s;
    box-shadow: 3px 3px 7px  $grey;
  }

  &__block {
    display: flex;
    align-items: center;
  }

  &__checkBox {
    margin-right: 15px;
  }

  &__name,
  &__nameDone {
    font-size: 22px;
    color: $white;
  }
  &__nameDone {
    text-decoration: line-through;
  }

  &__deleteBtn {
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    width: 34px;
    height: 34px;
    background-color: $white;
    cursor: pointer;
  }
}


@media (max-width: 700px) {
  .todo {
    padding: 10px 10px;
    &__name,
    &__nameDone {
      font-size: 15px;
    }
  }
}

@media (max-width: 500px) {
  .todo {
    &__name,
    &__nameDone {
      font-size: 12px;
    }
  }
}